
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `UserID` varchar(36) NOT NULL,
  `Username` varchar(50) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `FullName` varchar(100) NOT NULL,
  `Role` varchar(50) NOT NULL,
  `Status` varchar(50) NOT NULL DEFAULT 'ปกติ',
  `AdditionalInfo` varchar(255) DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`UserID`),
  UNIQUE KEY `users_username_unique` (`Username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `behavior_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `behavior_rules` (
  `RuleID` varchar(36) NOT NULL,
  `RuleName` varchar(100) NOT NULL,
  `RuleType` varchar(50) NOT NULL,
  `ScoreModifier` int(11) NOT NULL,
  `Category` varchar(100) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`RuleID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `behavior_rules` WRITE;
/*!40000 ALTER TABLE `behavior_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `behavior_rules` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `PermissionID` varchar(36) NOT NULL,
  `Role` varchar(50) NOT NULL,
  `ModuleName` varchar(50) NOT NULL,
  `CanAccess` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`PermissionID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachers` (
  `TeacherID` varchar(36) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `Department` varchar(100) DEFAULT NULL,
  `AdvisoryRoom` varchar(10) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`TeacherID`),
  KEY `teachers_userid_foreign` (`UserID`),
  CONSTRAINT `teachers_userid_foreign` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `discipline_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discipline_staff` (
  `StaffID` varchar(36) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `Position` varchar(100) DEFAULT NULL,
  `Level` enum('บันทึกได้','อนุมัติผล/ตั้งค่า') NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`StaffID`),
  KEY `discipline_staff_userid_foreign` (`UserID`),
  CONSTRAINT `discipline_staff_userid_foreign` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `discipline_staff` WRITE;
/*!40000 ALTER TABLE `discipline_staff` DISABLE KEYS */;
INSERT INTO `discipline_staff` VALUES ('3a73bd6a-5226-47b9-834e-7c81030b2381','f476b50c-fb7e-4ed2-a0bb-9f7b41fd9575','หัวหน้าฝ่ายปกครอง','อนุมัติผล/ตั้งค่า','2026-06-15 07:34:02','2026-06-15 07:34:02'),('7e6fd625-21ce-4afa-af54-67dc510d5741','941c0e24-0744-485d-87af-67f3eaa3523c','เจ้าหน้าที่ฝ่ายปกครอง','บันทึกได้','2026-06-15 07:34:03','2026-06-15 07:34:03');
/*!40000 ALTER TABLE `discipline_staff` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `parents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parents` (
  `ParentID` varchar(36) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `StudentID` varchar(10) DEFAULT NULL,
  `Relationship` enum('พ่อ','แม่','ญาติ') NOT NULL,
  `FullName` varchar(100) NOT NULL,
  `Phone` varchar(15) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Address` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ParentID`),
  KEY `parents_userid_foreign` (`UserID`),
  KEY `parents_studentid_foreign` (`StudentID`),
  CONSTRAINT `parents_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE SET NULL,
  CONSTRAINT `parents_userid_foreign` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `parents` WRITE;
/*!40000 ALTER TABLE `parents` DISABLE KEYS */;
/*!40000 ALTER TABLE `parents` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `StudentID` varchar(10) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `ParentID` varchar(36) DEFAULT NULL,
  `FullName` varchar(100) NOT NULL,
  `Gender` varchar(10) DEFAULT NULL,
  `Photo` varchar(255) DEFAULT NULL,
  `GradeLevel` varchar(10) DEFAULT NULL,
  `Classroom` varchar(10) DEFAULT NULL,
  `BehaviorScore` int(11) NOT NULL DEFAULT 100,
  `RiskStatus` varchar(50) NOT NULL DEFAULT 'ปกติ',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`StudentID`),
  KEY `students_userid_foreign` (`UserID`),
  KEY `students_parentid_foreign` (`ParentID`),
  CONSTRAINT `students_parentid_foreign` FOREIGN KEY (`ParentID`) REFERENCES `parents` (`ParentID`) ON DELETE SET NULL,
  CONSTRAINT `students_userid_foreign` FOREIGN KEY (`UserID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendances` (
  `AttendanceID` varchar(36) NOT NULL,
  `StudentID` varchar(10) NOT NULL,
  `Date` date NOT NULL,
  `Status` varchar(50) NOT NULL,
  `RecordedBy` varchar(36) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`AttendanceID`),
  KEY `attendances_studentid_foreign` (`StudentID`),
  KEY `attendances_recordedby_foreign` (`RecordedBy`),
  CONSTRAINT `attendances_recordedby_foreign` FOREIGN KEY (`RecordedBy`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `attendances_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `attendances` WRITE;
/*!40000 ALTER TABLE `attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendances` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `behavior_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `behavior_records` (
  `RecordID` varchar(36) NOT NULL,
  `StudentID` varchar(10) NOT NULL,
  `RuleID` varchar(36) NOT NULL,
  `RecordDate` date NOT NULL,
  `Description` text DEFAULT NULL,
  `RecordedBy` varchar(36) NOT NULL,
  `Status` varchar(50) NOT NULL DEFAULT 'รออนุมัติ',
  `Penalty` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`RecordID`),
  KEY `behavior_records_studentid_foreign` (`StudentID`),
  KEY `behavior_records_ruleid_foreign` (`RuleID`),
  KEY `behavior_records_recordedby_foreign` (`RecordedBy`),
  CONSTRAINT `behavior_records_recordedby_foreign` FOREIGN KEY (`RecordedBy`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `behavior_records_ruleid_foreign` FOREIGN KEY (`RuleID`) REFERENCES `behavior_rules` (`RuleID`) ON DELETE CASCADE,
  CONSTRAINT `behavior_records_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `behavior_records` WRITE;
/*!40000 ALTER TABLE `behavior_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `behavior_records` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `appeals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appeals` (
  `AppealID` varchar(36) NOT NULL,
  `RecordID` varchar(36) NOT NULL,
  `StudentID` varchar(10) NOT NULL,
  `Reason` text NOT NULL,
  `EvidencePath` varchar(255) DEFAULT NULL,
  `AppealDate` date NOT NULL,
  `Status` varchar(50) NOT NULL DEFAULT 'รอตรวจสอบ',
  `ReviewerID` varchar(36) DEFAULT NULL,
  `ReviewDate` date DEFAULT NULL,
  `ReviewNotes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`AppealID`),
  KEY `appeals_recordid_foreign` (`RecordID`),
  KEY `appeals_studentid_foreign` (`StudentID`),
  KEY `appeals_reviewerid_foreign` (`ReviewerID`),
  CONSTRAINT `appeals_recordid_foreign` FOREIGN KEY (`RecordID`) REFERENCES `behavior_records` (`RecordID`) ON DELETE CASCADE,
  CONSTRAINT `appeals_reviewerid_foreign` FOREIGN KEY (`ReviewerID`) REFERENCES `users` (`UserID`) ON DELETE SET NULL,
  CONSTRAINT `appeals_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `appeals` WRITE;
/*!40000 ALTER TABLE `appeals` DISABLE KEYS */;
/*!40000 ALTER TABLE `appeals` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `informant_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `informant_reports` (
  `ReportID` varchar(36) NOT NULL,
  `Title` varchar(100) DEFAULT NULL,
  `Category` varchar(50) DEFAULT NULL,
  `Description` text NOT NULL,
  `IsAnonymous` tinyint(1) NOT NULL DEFAULT 0,
  `ReporterName` varchar(100) DEFAULT NULL,
  `ReporterID` varchar(36) DEFAULT NULL,
  `StudentID` varchar(10) DEFAULT NULL,
  `EvidencePath` varchar(255) DEFAULT NULL,
  `Status` varchar(50) NOT NULL DEFAULT 'เรื่องใหม่',
  `Remarks` text DEFAULT NULL,
  `ReportDate` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`ReportID`),
  KEY `informant_reports_reporterid_foreign` (`ReporterID`),
  KEY `informant_reports_studentid_foreign` (`StudentID`),
  CONSTRAINT `informant_reports_reporterid_foreign` FOREIGN KEY (`ReporterID`) REFERENCES `users` (`UserID`) ON DELETE SET NULL,
  CONSTRAINT `informant_reports_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `informant_reports` WRITE;
/*!40000 ALTER TABLE `informant_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `informant_reports` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `MessageID` varchar(36) NOT NULL,
  `SenderID` varchar(36) NOT NULL,
  `ReceiverID` varchar(36) NOT NULL,
  `Content` text NOT NULL,
  `SentDate` datetime NOT NULL,
  `IsRead` tinyint(1) NOT NULL DEFAULT 0,
  `AttachmentDir` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`MessageID`),
  KEY `messages_senderid_foreign` (`SenderID`),
  KEY `messages_receiverid_foreign` (`ReceiverID`),
  CONSTRAINT `messages_receiverid_foreign` FOREIGN KEY (`ReceiverID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `messages_senderid_foreign` FOREIGN KEY (`SenderID`) REFERENCES `users` (`UserID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `prayer_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prayer_records` (
  `PrayerRecordID` varchar(36) NOT NULL,
  `StudentID` varchar(10) NOT NULL,
  `RecordDate` date NOT NULL,
  `RecordTime` time NOT NULL,
  `Period` varchar(20) NOT NULL,
  `Status` varchar(50) NOT NULL,
  `RecordedBy` varchar(36) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`PrayerRecordID`),
  UNIQUE KEY `prayer_records_studentid_recorddate_period_unique` (`StudentID`,`RecordDate`,`Period`),
  KEY `prayer_records_recordedby_foreign` (`RecordedBy`),
  CONSTRAINT `prayer_records_recordedby_foreign` FOREIGN KEY (`RecordedBy`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `prayer_records_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `prayer_records` WRITE;
/*!40000 ALTER TABLE `prayer_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `prayer_records` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `prayer_corrections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prayer_corrections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `StudentID` varchar(10) NOT NULL,
  `Year` int(11) NOT NULL,
  `Month` int(11) NOT NULL,
  `Status` varchar(50) NOT NULL DEFAULT 'แก้ละหมาดแล้ว',
  `RecordedBy` varchar(36) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `prayer_corrections_studentid_year_month_unique` (`StudentID`,`Year`,`Month`),
  KEY `prayer_corrections_recordedby_foreign` (`RecordedBy`),
  CONSTRAINT `prayer_corrections_recordedby_foreign` FOREIGN KEY (`RecordedBy`) REFERENCES `users` (`UserID`) ON DELETE CASCADE,
  CONSTRAINT `prayer_corrections_studentid_foreign` FOREIGN KEY (`StudentID`) REFERENCES `students` (`StudentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `prayer_corrections` WRITE;
/*!40000 ALTER TABLE `prayer_corrections` DISABLE KEYS */;
/*!40000 ALTER TABLE `prayer_corrections` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

